<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Command Executor</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        
        .output-box {
            background-color: #f8f9fa;
            border: 1px solid #ced4da;
            padding: 15px;
            border-radius: 5px;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <p class="navbar-brand" style="padding-top:20px" href="/">Menu</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link " aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"  href="/signup">SignUp</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login">login</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/shell">Shell</a>
              </li>
              
            </ul>
            
          </div>
        </div>
      </nav>
    <div class="container">
        <h1 class="text-center">Execute Command in Kubernetes Pod</h1>
        <form method="POST" action="/shell">
            <div class="form-group">
                <label for="commandInput">Command</label>
                <input type="text" class="form-control" id="commandInput" name="cmd" placeholder="Enter command" required>
            </div>
            <button type="submit" class="btn btn-primary">Run Command</button>
        </form>
        {% if msg %}
        <div id="output" class="output-box">
            <pre>{{ msg }}</pre>
        </div>
        {% endif %}
    </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</body>
</html>